@using Estudiante
@page "/registrar-estudiante"


//

<h3>Registro de Estudiante</h3>

<EditForm Model="@estudiante" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <InputText id="nombre" class="form-control" @bind-Value="estudiante.Nombre" />
    </div>

    <div class="form-group">
        <label for="apellido">Apellido:</label>
        <InputText id="apellido" class="form-control" @bind-Value="estudiante.Apellido" />
    </div>

    <div class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <InputDate id="fechaNacimiento" class="form-control" @bind-Value="estudiante.FechaNacimiento" />
    </div>

    <div class="form-group">
        <label for="ci">CI:</label>
        <InputText id="ci" class="form-control" @bind-Value="estudiante.CI" />
    </div>

    <div class="form-group">
        <label for="sexo">Sexo:</label>
        <InputText id="sexo" class="form-control" @bind-Value="estudiante.Sexo" />
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
</EditForm>

@code {
    private Estudiante estudiante = new Estudiante();

    private void HandleValidSubmit()
    {
    }
}
